grant codeBase "file:login.jar"
{
    permission javax.security.auth.AuthPermission "createLoginContext.Login1";
    permission javax.security.auth.AuthPermission "doAsPrivileged";
    permission javax.security.auth.AuthPermission "modifyPrincipals";
    permission java.io.FilePermission "com/security/jaas/pwdf.txt", "read";
    permission java.util.PropertyPermission "user.*", "read";
    permission javax.security.auth.AuthPermission "doAs";
};

grant principal com.security.jaas.SimplePrincipal "role=admin"
{
    permission java.util.PropertyPermission "*", "read,write";
};